html {
	scroll-behavior: smooth;
}

body{
	background-color: #eef0f5;
	margin: 0;
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	color: #3c4550;
	padding-bottom: 1em;
}

i{
	font-size: 28px;
	color: #6ab3fb;
}

header{
	display: flex;
}

.take_top{
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.top{
	display: flex;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
}

.top .logo:hover{
	opacity: 0.5;
	transition: 0.7s;
}

.top a{
	text-decoration: none;
	color: #3c4550;
}

.top a:hover{
	color: #6ab3fb;
	border-bottom: solid;
}

.top .menu{
	display: flex;
}

.top .menu h3{
	padding-left: 30px;
	padding-top: 0.5em;
}

.top .login h3{
	padding-left: 30px;
	padding-top: 0.5em;
}

#match{
	color: #6ab3fb;
}

.filter{
	display: none;
	width: auto;
	height: 120px;
	background-color: #3d4650;
	flex-direction: column;
}

.filter #city_name{
	width: 9em;
	height: 1em;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.filter .all_city select{
	width: 7em;
	height: 30px;
	margin-top: 9px;
	margin-left: 10px;
}

.filter #age{
	width: 2em;
	height: 1em;
}

.filter #age2{
	width: 2em;
	height: 1em;
}

.filter .all_age p{
	margin-top: 0em;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

.filter .all_age span p{
	font-size: 16px;
}

.filter .all_age #age{
	margin-top: -4px;
	margin-left: 10px;
}

.filter .all_age #age2{
	margin-top: -4px;
}

.filter select{
	width: 9em;
}

.filter .take_filter p{
	color: white;
}

.filter .take_filter .all_city{
	display: flex;
}

.filter .take_filter .all_city p{
	margin-left: 10px;
}

.filter .take_filter .all_age{
	display: flex;
}

.filter .take_filter #submit{
	margin-left: 10px;
}

#city{
	width: 6em;
	height: 3em;
}

#submit{
	width: 6em;
	height: 2em;
}

#profil{
	text-decoration: none;
}

.menu h3 a li{
	list-style: none;
	padding-top: 10px;
}

.menu h3 a li a:hover{
	color: #3c4550;
}

.all_perso{
	margin-top: 11em;
	display: flex;
	flex-wrap: wrap;
	width: 84em;
}

.all_perso .perso{
	padding-left: 2em;
}

.all_perso .all_image{
	padding: 3em;
	background-color: white;
}

.all_image{
	margin: 10px;
}

.all_image img{
	width: 200px;
	height: 200px;
}

.all_image i{
	font-size: 204px;
	width: 200px;
	height: 200px;
}

.take_all_image{
	display: flex;
	justify-content: center;
}



